.nav {
    
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
    padding: 0 10vw;
    background-color: white;
    z-index: 1;

    &__ul {
        display: flex;
        list-style: none;
        padding: 0;

        &__a {
            padding: 10px;
            font-size: 1.6rem;
            font-weight: bold;
        }

        &__item {

            &__a {
                margin: .2rem;
                padding: 1rem .5rem;
            }
        }

        &__item--hover a:hover {
            color: rgb(70, 208, 233);
            transform: scale(1.1);
        }
    }
}
