@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap9");
body {
  margin: 0;
  padding: 0;
  font-family: ubuntu; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: #e95a5a;
  background-color: white; }

img {
  width: 80%;
  height: auto; }

nav, .servicios, .presentacion .footer-content {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: white; }

.titulo-servicios .presentacion {
  margin-bottom: 10%; }

p {
  font-size: 1.8rem;
  color: #0a8bbe; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2rem;
  font-weight: lighter; }

.btn, .btn-principal, .btn-secundario {
  border: none;
  border-radius: 7px;
  padding: 10px 50px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 0px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: transform 100ms; }

.btn-principal {
  color: white;
  background-color: #5de969; }

.btn-secundario {
  background-color: #076488; }

.btn:hover, .btn-principal:hover, .btn-secundario:hover {
  transform: scale(1.1); }

@media (min-with: 1200px) {
  nav, .servicios, .presentacion,
  .footer-content {
    width: 60%;
    margin: auto; } }

@media (max-width: 992px) {
  .presentacion, .servicios {
    flex-direction: column; }
  .presentacion div {
    text-align: center;
    margin-bottom: 30px; }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px; } }

@media (max-width: 420) {
  .presentacion div h1, .presentacion div p {
    padding: 0; } }

.presentacion {
  display: flex;
  padding-top: 200px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }
  .presentacion__div {
    display: flex;
    text-align: center; }
  .presentacion__h1 {
    margin-top: 0;
    padding-right: 10px;
    text-align: center;
    font-size: 2rem;
    color: salmon; }
  .presentacion__p {
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: center; }

.footer {
  min-height: 80px;
  background-color: #d9edf3;
  margin-top: 0; }
  .footer__content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; }
  .footer__p {
    text-align: center;
    color: white; }

.redes {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 50px 25px;
  margin: 30px 0 0 0;
  flex-wrap: wrap;
  justify-content: center; }
  .redes p {
    color: #0dafa2;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center; }
  .redes .redes__div {
    display: flex;
    flex-direction: row;
    align-content: center; }
    .redes .redes__div__ul {
      display: flex;
      flex-direction: row;
      align-content: center; }
      .redes .redes__div__ul__item {
        color: rgba(0, 0, 0, 0.5);
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between; }

.servicios div {
  text-align: center; }

.servicios .tipo-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }

.iconos {
  width: 40px;
  color: #3ff1e0; }
